# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
build/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*

# IntelliJ related
.idea/
*.iml

# VS Code related
.vscode/

# MacOS related
.DS_Store

# Android related
.android/**
local.properties
android/app/.cxx/

# Web related
web/.dart_tool/
web/.flutter-plugins
web/.flutter-plugins-dependencies
web/.packages
web/build/

# Linux related
linux/.dart_tool/
linux/.flutter-plugins
linux/.flutter-plugins-dependencies
linux/.packages
linux/build/

# Windows related
windows/.dart_tool/
windows/.flutter-plugins
windows/.flutter-plugins-dependencies
windows/.packages
windows/build/

# Fuchsia related
.fuchsia/

# CMake related
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Ignore response files
*.rsp

# Ignore Podfile
ios/Podfile
ios/Podfile.lock

# macOS related
macos/Podfile
macos/Podfile.lock